.city-info-container {
    border: solid 1px var(--lightgray);
    border-radius: 20px;
}

.small-box1 {
    border-bottom: solid 1px var(--lightgray);
    margin: 30px;
}

.small-box1 p {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.small-box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.small-box4 {
    color: var(--greenBlue);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.small-box4 h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-box5 {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.details-btn1 {
    background-color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 100px;
}

.details-btn2 {
    background-color: var(--greenBlue);
    color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 90px;
}



/*Modal Styling*/
.modal-container {
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 30em;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.title-icon {
    font-size: 3em;
    color: var(--greenBlue);
}

.address {
    padding: 5px 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    height: 100%;
    align-content: center;
}

.form-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container-left input {
    border-radius: 8px;
    border: solid 1px lightgray;
    padding: 10px;
    width: 23em;
}

.form-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-container-right input {
    height: 13em;
    width: 21em;
    border: solid 1px lightgray;
    border-radius: 8px;
    padding: 10px;
}

.submit-btn {
    padding: 10px;
    font-size: .9em;
    color: var(--white);
    background-color: var(--greenBlue);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
