.city-info-container {
    border: solid 1px var(--lightgray);
    border-radius: 20px;
    margin: 30px 50px 20px 40px;
}

.small-box1 {
    border-bottom: solid 1px var(--lightgray);
    margin: 30px;
}

.small-box1 p {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.small-box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.small-box4 {
    color: var(--greenBlue);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.small-box4 h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-box5 {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.details-btns1 {
    background-color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 100px;
}

.details-btns {
    background-color: var(--greenBlue);
    color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 90px;
}
