.city-info-container {
    border: solid 1px var(--lightgray);
    border-radius: 20px;
    margin: 20px;
}

.small-box1 {
    /* background-color: pink; */
    border-bottom: solid 1px var(--lightgray);
    /* border-radius: 12px; */
    margin: 30px;
}

.small-box1 p {
    /* border: solid 1px green; */
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.small-box3 {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

.small-box4 {
    /* background-color: bisque; */
    color: var(--greenBlue);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.small-box4 h3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-box5 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.details-btns1 {
    background-color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 100px;
}

.details-btns {
    background-color: var(--greenBlue);
    color: var(--white);
    font-size: 25px;
    border: solid 1px var(--lightgray);
    border-radius: 12px;
    padding: 12px 100px;
}
