.seeAllCities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    /* flex-wrap: wrap; */
}

.searchByCity-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 85rem;
    gap: 40px;
}

.searchByCity-container h1 {
    display: flex;
    justify-content: center;
}

.city-btns {
    display: grid;
    gap: 20px;
    grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto 
    [col3-end] auto [col4-start];
    margin: 0px;
    /* flex-wrap: wrap; */
}

.city-btns p {
    color: black;
    border: .5px solid var(--lightgray);
    border-radius: 18px;
    padding: 20px 60px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}