.property-card-container {
    border: solid 1px var(--lightgray);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 25em;
    cursor: default;
}

.property-card-container img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.property-details-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
}

.blue-box {
    background-color: var(--greenBlue);
    color: var(--white);
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
}

.blue-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-box-left p {
    font-size: .8em;
}

.blue-box-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    font-size: 1.2em;
}

.white-box {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 25px;
}

.white-box-top {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.white-box-bottom {
    margin-left: 20px;
}

.view-home-btn {
    padding: 20px 0;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--lightgray);
}

.view-home-btn p {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}