.city-container {
    position: relative;
}

.cityCard-img {
    height: 21rem;
    width: 26.5rem;
    border-radius: 20px;
    filter: blur(1px);
}

.city-container-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    color: var(--white);
    bottom: 9rem;
    left: 7.5rem;
    width: 200px;
}