.dropdown-container {
    border: 2px solid var(--lightgray);
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* width: 80%; */
    width: 70em;
    /* gap: 15px; */
    /* position: absolute; */
    bottom: 3em;
    /* bottom: 250px; */
    position: relative;
    padding: 30px 0px;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.5em;
}

.options {
    font-size: .8em;
    width: 13em;
    height: 2em;
    padding-left: .4em;
    border-radius: 10px;
    color: var(--lightgray);
    border: solid 1px var(--lightgray);
}