.header-container {
    background-color: var(--sky-blue);
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.uniLife_logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--white);
}

.navBar-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    color: var(--white);
}

.navBar-icons {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 20px;
}

/*Modal Styling*/
.modal-container {
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 30em;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.address {
    display: flex;
    padding: 5px 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    height: 100%;
    padding-top: 20px;
}

.form-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container-left input {
    border-radius: 8px;
    border: solid 1px lightgray;
    padding: 10px;
    width: 23em;
}

.form-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container-right input {
    height: 15em;
    width: 21em;
    border: solid 1px lightgray;
    border-radius: 8px;
}

.submit-btn {
    padding: 10px;
    font-size: .9em;
    color: var(--white);
    background-color: var(--greenBlue);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}