.cityDetails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card {
    display: flex;
    align-items: start;
}

.property-card-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    gap: 50px;
}

.allPropertiesDescription {
    background-color: var(--aliceblue);
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 80px 40px;
    margin: 100px 0px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.description-info {
    width: 23em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2em;
    /*margin-bottom for when user minimizes page*/
    margin-bottom: 20px;
}

.allPropertiesDescription img {
    width: 28em;
    border-radius: 15px;
}