.cityDetails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

.city-details-filter-bar {
    border: 2px solid var(--lightgray);
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    /* position: absolute; */
    bottom: 250px;
    padding: 40px 50px;
}

.search-bar-top {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.search-bar-bottom {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.title-card {
    margin-top: 130px;
    display: flex;
}

.property-card-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    gap: 50px;
}

.allPropertiesDescription {
    background-color: var(--aliceblue);
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 80px 20px;
    margin: 100px 0px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.description-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}

.allPropertiesDescription img {
    width: 40%;
    border-radius: 15px;
}