.home-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}





/* .home-details-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.back-option {
    font-size: 20px;
}

.home-details-container p {
    font-size: 25px;

}

.photos-container {
    border: solid 1px blue;
    width: 50%;
    display: flex;

}

.city-info-box-container {
    border: solid 1px orange;

    display: flex;
    justify-content: flex-end;
}

.description-box-container {
    border: solid 1px red;
    font-size: 20px;
    width: 30%;
}

.bedroom-prices-container {
    border: solid 1px blue;
    font-size: 20px;
    width: 30%;

}

.key-features-container {
    border: solid 1px green;
    
    width: 30%;
    display: flex;
    flex-direction: column;
}  */