.home-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 100px 20px;
}

.description-container {
    border: solid 1px black;
    margin: 30px 0px 20px 50px;
    font-size: 20px;
    /* height: 500px; */
    line-height: 30px;
}

.description-container p {
    border: solid 1px blue;
    padding-right: 100px;
    margin-top: 25px;
    /* line-height: 30px; */
}

.key-features-container {
    border: solid 1px black;
    margin: 30px 0px 20px 50px;
    font-size: 20px;
    /* line-height: 30px; */
}

.key-features-container p {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkmark {
    color: var(--greenBlue);
}
