.photos-box {
    /* gap: 20px; */
    /* border: 2px solid yellow; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* align-content: space-between; */
    /* flex-wrap: wrap; */
}

.top-image {
    border: solid 1px red;
    width: 90%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 20px; */
    /* flex-direction: column; */
}


.bottom-images {
    /* width: 35%; */
    display: flex;
    /* gap: 20px; */
    /* justify-content: space-around; */
}

.bottom-images img {
    width: 30%;
    margin: 10px;
}