.photos-box {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-image {
    width: 100%;
    border-radius: 20px;
}


.bottom-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom-images img {
    width: 32%;
    border-radius: 15px;
}