.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* font-weight: 500; */
}

.homepage-container h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

.searchbar-container {
    display: flex;
    /* position:absolute; */
    border-radius: 15px;
    padding: 3rem 15rem;
    box-shadow: 1px 1px 5px 1px var(--gray);
}

.searchbar-option {
    border: .5px solid var(--gray);
    border-radius: 15px;
    display: flex;
    /* justify-content: space-around;
    gap: 10px; */

    width: 30rem;
    padding: 10px 25px;
    font-size: 20px;
    /* margin-left: 10%; */
    
}

/*MAPPING THE CITIES SECTION*/
.cityCard-container {
    border: 2px purple solid;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 2rem 0;
    /* width: 90%; */
}

.allCitiesBtn {
    border: none;
    border-radius: 12px;
    color: white;
    background-color: var(--greenBlue);
    padding: 12px 40px;
    margin: 3rem;  
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

/*Homepage Compare Banner*/
.homepage-compare-banner {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 50px 0 60px 0;
    background-color: var(--aliceblue);
    border-radius: 15px;
}

.homepage-compare-banner h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

.compare-info-container {
    /* border: solid blue 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0 0 0;
}

.compare-icon-container {
    /* border: green solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    height: 12rem;
}

.compare-icon-container img {
    width: 20%;
}

.compare-icon-title {
    /* border: solid purple 1px; */
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1rem 0.5rem;
}

.compare-icon-container p {
    font-size: 1.25rem;
    color: var(--gray);
}

/*Bottom Banner*/
.bottom-banner {
    border: solid 2px purple;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
    /* margin: 1 rem 8rem 0 8rem; */
}

.bottom-banner-info-container {
    border: solid 1px pink;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* height: 35rem; */
}

.bottom-banner-icon-container {
    border: solid blue 1px;
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 5rem;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* gap: 100%; */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    height: 12rem; */
}

.bottom-banner-info {
    border: solid green 1px;
    gap: 12px;
}

.bottom-banner-icon-container img {
    display: flex;
    position:absolute;
    /* align-self: flex-end; */
    width: 4rem;
}

.searchCompareBtn {
    width: 13%;
    padding: 6px;
    font-size: 18px;
    color: var(--white);
    /* background-color: #004494; */
    background-color: var(--greenBlue);
    border: none;
    border-radius: 8px;
}

.ManIcon {
    width: 30%;
    display: flex;
    /* flex-direction: row; */
    align-items: end;
}